
.SelectBut2{
  width:150px;
  height: 30px;
  border-radius: 3px;
  border-color: #DFDFDF;
}
.text_details{
  text-align: left;
  font-size: 16px;
  margin: 30px;
}
.CardDetails{
  position: relative;
  width: 500px;
  height: auto;
  top: 0;
  max-height: 1000px;
  padding: 20px;
  border-radius: 5px;
  border-width: 10px;
  backdrop-filter: 1px;

  background-color: white;
  box-shadow: 0 6px 15px rgb(36 37 38 / 8%);
  
}
.CardDetails.cart{
  width: 650px; 
  margin-top: 30px; 
}
.Select{
  width: auto;
  height: auto;
}
/*.mainProduct{
  margin-top: 50px;
  position:absolute;
  width: 500px;
  left: 10%;
}*/
/*.mainHome{
  position:absolute;
  background-image: url(Gradient2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}*/
.mainAbout{
  position:absolute;
  left:-280px;
  background-image: url(Gradient3.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  padding: 50px;
}

/*.but{
  position:relative;
  top: 10px;
  left: 40%;
  justify-content: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 37px;
  width: auto;
  border-radius: 30px;
  border-color: #FA460D;
  background-color: #FA460D;
  color:white;
}
.but:hover{
  box-shadow: 0px 0px 10px 10px #FA460D;
  color: white;
}*/
.mainStore{
  padding: 12px;
  margin: -60px;
  margin-top: 0px;
  box-sizing: border-box;
  height: auto;
  background-color: #F6f6f6;
  z-index:0;
  margin-bottom: 100px;
}
.ratecomp:hover{
  color:#FA460D;
}
.canvasP{
  height: 80vh;
}
.mainCart{
  top: 400px;
}
.CardDetails2{
  position: relative;
  width: auto;
  height: auto;
  top: 0;
  max-height: 1000px;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-width: 10px;
  backdrop-filter: 1px;
  background-color: white;
  box-shadow: 0 6px 15px rgb(36 37 38 / 8%);
}
.CardDetails2.placeorder{
  position: relative;
  width: auto;
  height: 250px;
  top: 0;
  max-height: 1000px;
  margin-top: 30px;
  margin-left: 30px;
}
.CardDetails2.details{
  margin-top: 20px;
  margin: 20px;
}
.CardDetails2.details:hover{
  box-shadow: 0 30px 30px rgb(36 37 38 / 8%);
}
.IconButton{
  position: absolute;
  width: 50px;
  height: 50px;
  margin-top: 25%;
}
.AddBut{
  justify-content: center;
  text-decoration: none;
  height: 30px;
  width: 70px;
  height: 30px;
  left: 50%;
  border-radius: 30px;
  background-color: #FA460D;
  color:white;
  margin-top: 10px;
  margin-left: 50%;
  padding: 10px;
}
.AddBut:hover{
  border-radius: 30px;
  background-color: #FF3D00;
  color: white;
}
.CloseBut{
  position: absolute;
    top: -10px;
    right: -10px;
    background: rgba(196, 196, 196, 0.6);
    border-radius: 20px;
    width: 30px;
    height: 30px;
    padding-left: 10px;
    padding-top: 5px;
    color: white;
}
.CloseBut:hover{
    background: rgba(196, 196, 196, 0.2);
    color: #FA460D;
}
.EmptyStore{
  position: relative;
  top: 50px;
  max-width:30%;
  height:auto;
}
.linkStore:visited {
  color: #FA460D;
}

.linkStore:hover {
  color: black;
}

linkStore:active {
  color: #FA460D;
} 
.Upload{
  height: 10px;
  width: auto;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #000000;
  box-sizing: border-box;

}


input[type="file"] {
  display: none;
}
.button_for_everything{
  justify-content: center;
  text-decoration: none;
  height: 37px;
  width: auto;
  left: 2232px;
  top: 2650px;
  border-radius: 5px;
  color:#FA460D;
  border :1px solid #FA460D;
  margin: 5px;
  background-color:white;
}
.button_for_everything:hover{
  color:white;
  border :1px solid white;
  background-color: #FA460D;
}
.FormCont{
  background-color: #f6f6f6;
}

.FormCont2{
  position: absolute;
  margin-top: 200px;
  background-color: #f6f6f6;
}
.add{
  width:20px;
  height:20px;
  margin-left: 10px;
}

.imageList{  
  height: auto;
  width: 400px;
  margin: 30px;
  padding-top: 50px;
}
.add:hover{
  width:22px;
  height:22px;
  margin-left: 10px;
}
.info{
  margin-left: 60px;
  margin-bottom: 60px;
}
.navbut2{
  justify-content: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  padding-right: 10px;
  min-height: 37px;
  height: auto;
  width: 100px;
  margin-left:45%;
  margin-top:10px;
  border-radius: 30px;
  background-color: #FA460D;
  color:white;
}