.header {
    height: 100px;
    width: 100vh;
    padding: 18px;
    z-index: 2;
    background: #f6f6f6;
}
.but{
  position: relative;
  left: 15px;
  margin: 0px 10px 10px 10px;
}
.NavbarItems{
  display: block;
  position: absolute;
  z-index: 1000;
  height:100px;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  transition: top 0.3s; 
  overflow: hidden;
  background-color: #f6f6f6;
  box-shadow: 10px 10px 100px 10px rgba(0, 0, 0, 0.1);
  padding-left: 10px;
  border-radius: 0px 0px 30px 30px;
  /*padding-left: 35%;
  padding-top: 10px;*/
}
.navbarlogo{
  color: rgba(143, 150, 163, 1);
  justify-content: start;
  cursor: pointer;
  width: 100px;
  margin-top: 5px;
  margin-left: 5px;
}

.dropDownMenu_Header{
  position: absolute;
  display: block;
  z-index: 10000;
  width: 40px;
  height: auto;
  left: 20px;
  margin: 15px;
}
.dropDownMenu{
  color: rgba(143, 150, 163, 1);
  justify-content: start;
  cursor: pointer;
  width: 40px;
  height: auto;
  left: 90vw;
}
.fa-react{
  margin-left: 0.5rem;
  font-size: 1.3rem;
}
.nav-menu{
  position: absolute;
  top:40%;
  left: 40%;
  text-align: center;
  justify-content: center;
}
.nav-menu-left{
  position: absolute;
  top:40%;
  left: 80%;
  text-align: center;
  justify-content: center;
}
.nav-links{
  color: rgba(143, 150, 163, 1);
  color: #FA460D;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-filter: blur(5px);
}
.nav-links:hover {
  border-radius: 50px;
  transition: all 0.2s ease-out;
  font-size: 1.01rem;
  color: white;
  
  padding: 0.5rem 1rem;
  border-radius: 30px;
  background-color: #FA460D;
  width:auto;
  height: 37px;
  border-width: 10px;
  backdrop-filter: 1px;
  color:white;
  box-shadow: 0px 0px 10px 10px #FA460D;
}

.nav-but2{
  justify-content: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: auto;
  width: auto;
  /*top: 2650px;*/
  border-radius: 30px;
  background-color: #FA460D;
  color:white;
}
.nav-but2:hover{
  box-shadow: 0px 0px 10px 10px #FA460D;
  color: white;
}
.nav-but1{
  justify-content: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  min-height: 37px;
  height: auto;
  width: auto;
  border-radius: 30px;
  color:#FA460D;
  border :1px solid #FA460D;
  margin: 5px;
}
.nav-but1:hover{
  box-shadow: 0px 0px 30px 10px #FA460D;
  color: #FA460D;
}
@media (max-width: 600px){ 
  .nav-but1{
    position: absolute;
    justify-content: center;
    text-decoration: none;
    min-height: 37px;
    height: auto;
    width: 100px;
    left: 60vw;
    top: 10px;
    border-radius: 30px;
    color:#FA460D;
    border :1px solid #FA460D;
    margin: 5px;
  }
  .nav-but1:hover{
    box-shadow: 0px 0px 30px 10px #FA460D;
    color: #FA460D;
  }
  .nav-lang{
    left: 80%;
  }

}
.fa-bars{
  color:aqua;
}
.nav-lang{
  position: absolute;
  border-style: none;
  background-color:rgba(0, 0, 0, 0);
  justify-content: center;
  text-decoration: none;
}
.nav-lang:focus{
  outline: none;
}
@media (max-width: 820px){ 
  .NavbarItems{
    padding-left: 35%;
    padding-top: 10px;
  }
  .nav-lang{
    padding: 0.5rem 1rem;
    margin: 15px;
  }
  .navbarlogo{
    position: absolute;
    left: 45%;
  }
}